@model Reports.Models.ParamsModel

@{
    ViewBag.Title = "Order Lookup";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "mm/dd/yy" });
    });
</script>

Enter one or more values. The first 100 orders matching all your entries will be displayed.<br />
For email and name, you may enter just the first few letters if you wish.<br />
Don't forget that, on the test server, emails and names are sanitized, and there may be few orders for recent dates.<br />
<br />

@using (Html.BeginForm("lookupresults", "orders", FormMethod.Post)) {
    @Html.ValidationSummary()

    <table>
    <tr><td class="table-label">@Html.LabelFor(modelItem => @Model.ID):</td><td>@Html.TextBoxFor(modelItem => @Model.ID, new { maxlength = "9" })</td></tr>
    <tr><td class="table-label">@Html.LabelFor(modelItem => @Model.Date):</td><td>@Html.TextBoxFor(modelItem => @Model.Date, new { @class = "date" })</td></tr>
    <tr><td class="table-label">@Html.LabelFor(modelItem => @Model.LoginEmail):</td><td>@Html.TextBoxFor(modelItem => @Model.LoginEmail, new { maxlength = "50" })</td></tr>
    <tr><td class="table-label">@Html.LabelFor(modelItem => @Model.LastName):</td><td>@Html.TextBoxFor(modelItem => @Model.LastName, new { maxlength = "50" })</td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
    </table>
}

<br />
<br />
@Html.ActionLink("Back", "") @Html.ActionLink("Home", "", "home")