@model List<Reports.Models.OrderModel>

@{
    ViewBag.Title = "Order Lookup Results";
}

<link href="@Url.Content("~/Content/themes/blue/style.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").tablesorter();
    });
</script>

@if (Model.Count == 100)
{
    @Html.Raw("Only the first 100 matching orders are shown.<br /><br />");
}
@if (Model.Count == 0) {
    @Html.Raw("No order found.");
}
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
                <th>Details</th>
                <th>Order ID</th>
                <th>Order placed date</th>
                <th>Order status</th>
                <th>Order type</th>
                <th>Territory</th>
                <th>Restaurant</th>
                <th>Login email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Payment method</th>
                <th>Order total</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Reports.Models.OrderModel orderModel in Model)
    {
        <tr>
            <td>@Html.ActionLink("Details", "LookupDetails", new { OrderID = orderModel.OrderID })</td>
            <td>@orderModel.OrderID</td>
            <td>@orderModel.OrderPlacedDate</td>
            <td>@orderModel.OrderStatus</td>
            <td>@orderModel.OrderType</td>
            <td>@orderModel.Campus</td>
            <td>@orderModel.Restaurant</td>
            <td>@orderModel.LoginEmail</td>
            <td>@orderModel.FName</td>
            <td>@orderModel.LName</td>
            <td>@orderModel.PaymentMethod</td>
            <td>@orderModel.OrderTotal</td>
        </tr>
    }
    </tbody>
</table>
<br />
<br />
@Html.ActionLink("Back", "lookup") @Html.ActionLink("Home", "", "home")