@model Tuple<Reports.Models.ParamsModel, List<Reports.Models.CustomerModel>>

@{
    ViewBag.Title = "Customer Lookup Results";
    ViewBag.Params = Model.Item1;
}

<link href="@Url.Content("~/Content/themes/blue/style.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").tablesorter();
    });
</script>

@Html.Partial("LookupHeader")

@if (Model.Item2.Count == 100)
{
    @Html.Raw("Only the first 100 matching customers are shown.<br /><br />");
}
@if (Model.Item2.Count == 0)
{
    @Html.Raw("No customer found.");
}
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th>Details</th>
            <th>Customer ID</th>
            <th>Login email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Reports.Models.CustomerModel customerModel in Model.Item2)
    {
        <tr>
            <td>@Html.ActionLink("Details", "LookupDetails", new { CustomerID = customerModel.CustomerID })</td>
            <td>@customerModel.CustomerID</td>
            <td>@customerModel.LoginEmail</td>
            <td>@customerModel.FName</td>
            <td>@customerModel.LName</td>
            <td>@customerModel.Phone</td>
        </tr>
    }
    </tbody>
</table>
<br />
<br />
@Html.ActionLink("Back", "lookup") @Html.ActionLink("Home", "", "home")